.body {
   background-image: url(../img/fundo_tela.gif);
}

.table_titulo{
 width:100%;
}

table th {
    background-image: url(../img/fundo_table.gif);
    font-weight:bold;
    font-size: 11pt;
    text-align:center;
    font-family: verdana;
    color:maroon;
}

table td {
    font-family: verdana;
    font-size:10pt;
    color:maroon;
    background-color:white;
}

.texto {

    font-family: verdana;
    font-size:10pt;
    color:maroon;
    background-color:white;

}

.titulo {

    font-family: verdana;
    font-size:10pt;
    color:maroon;
    background-color:white;
    font-weight:bold;

}


input,select,textarea {

    border: 1px solid maroon ;
    font-family: verdana;
    font-size:11pt;
    color:maroon;
    background-color:white;

}

a:link {

    font-family: verdana;
    font-size:10pt;
    text-decoration:none;
    color:maroon;

}

a:hover {

    font-family: verdana;
    font-size:10pt;
    text-decoration:underline;
    color:maroon;

}

a:visited {

    font-family: verdana;
    font-size:10pt;
    color:maroon;
   text-decoration:none;

}

a {

   font-family: verdana;
    font-size:10pt;
    text-decoration:underline;
    color:white;

}

#processo {

    width:400px;
    height:200px;
    border:1px solid maroon;


}

span {

    background-color:maroon;
    color:white;
}

.centerIndex{
    width: 394px;
    position: relative;
    left: -197px;
    margin-left: 50%;
}